<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HelpMe_BSM</display-name>
  <welcome-file-list>
    <welcome-file>main_Default.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ClientFrontController</servlet-name>
    <servlet-class>com.helpme.app.client.ClientFrontController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HelperFrontController</servlet-name>
    <servlet-class>com.helpme.app.helper.HelperFrontController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReservationFrontController</servlet-name>
    <servlet-class>com.helpme.app.reservation.ReservationFrontController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BoardFrontController</servlet-name>
    <servlet-class>com.helpme.app.board.BoardFrontController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ScheduleFrontController</servlet-name>
    <servlet-class>com.helpme.app.schedule.ScheduleFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientFrontController</servlet-name>
    <url-pattern>*.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelperFrontController</servlet-name>
    <url-pattern>*.he</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReservationFrontController</servlet-name>
    <url-pattern>*.rs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScheduleFrontController</servlet-name>
    <url-pattern>*.sc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BoardFrontController</servlet-name>
    <url-pattern>*.bo</url-pattern>
  </servlet-mapping>
</web-app>